<h1>Admin Dashboard</h1>

<section class="quickbooks-options">
  <h5>Quickbooks</h5>
  <div><%= link_to "Query Quickbooks", admin_quickbooks_path %></div>
  <div><%= link_to "Refresh Quickbooks Token", new_admin_refresh_token_path %></div>
</section>

<section class="product-options">
  <h5>Products</h5>
  <div>
    <%= link_to "View Products", admin_products_path %>
  </div>
  
  <div>
    <%= link_to "View Flavours", admin_flavours_path %>
    |
    <%= link_to "New Flavour", new_admin_flavour_path %>
    </div>

  <div>
    <%= link_to "View Containers", admin_containers_path %>
    |
    <%= link_to "New Container", new_admin_container_path%>
  </div>
  <div>
    <%= link_to "View Liquids", admin_liquids_path %>
    |
    <%= link_to "New Liquid", new_admin_liquid_path %>
  </div>
</section>

<section class="user-options">
  <h5>Accounts</h5>
  <%= link_to "View Users", admin_users_path %>
  |
  <%= link_to "New User", new_admin_invite_path %>
</section>

<section class="order-options">
  <h5>Orders</h5>
  <%= link_to "View Orders", admin_orders_path %>
</section>