<section class="admin-orders-index">
  <h1>Order Summary</h1>
  <% if @undelivered_orders.first == nil %>
    <h3> No Active Orders </h3>
  <% else %>

    <table class="order-summary-table">
      <thead>
        <th>Name</th>
        <th>Volume (mL)</th>
        <th>Kegs</th>
      </thead>
      <tbody>
        <% @flavours.each do |flavour| %>
          <% if flavour.total_volume_needed(@undelivered_orders) > 0 %>
            <tr>
              <td><strong>Name: </strong> <%= flavour.name %></td>
              <td> <%= flavour.total_volume_needed(@undelivered_orders) %> </td>
              <td> <%= flavour.total_volume_needed(@undelivered_orders) / 19500.00 %> </td>
            </tr>
            <% end %>
        <% end %>
      </tbody>
    </table>

    <h1>Active/Undelivered Orders</h1>
      <% @undelivered_orders.each do |order| %>
        <section class="order-details">
          <p>Name: <%= order.shipping_name %></p>
          <p>Created at: <%= order.created_at %></p>
          <p>Delivery Date: <%= order.delivery_date %></p>
          <% order.order_products.each do |product| %>
            <p><%= product.name %></p>
          <% end %>
          <a class="show-order" href="/admin/orders/<%= order.id %>">View order</a>
        </section>
    <% end %>
  <% end %>

<h1>All Orders</h1>

  <% @orders.each do |order| %>
    <section class="order-details">
      <p>Name: <%= order.shipping_name %></p>
      <p>Created at: <%= order.created_at %></p>
      <p>Delivery Date: <%= order.delivery_date %></p>
      <% order.order_products.each do |product| %>
        <p><%= product.name %></p>
      <% end %>
      <a class="show-order" href="/admin/orders/<%= order.id %>">View order</a>
    </section>
  <% end %>
</section>
