<section class="admin-orders-index">
  <h1>Order Summary</h1>
  <table class="order-summary-table">
    <thead>
      <th>Name</th>
      <th>Volume</th>
    </thead>
    <tbody>
      <% @flavours.each do |flavour| %>
        <tr>
          <td><strong>Name: </strong> <%= flavour.name %></td>
          <td> <%= flavour.total_volume_needed(@undelivered_orders) %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <h1>View Orders</h1>

  <% @orders.each do |order| %>
    <p>Name: <%= order.shipping_name %></p>
    <p>Created at: <%= order.created_at %></p>
    <p>Delivery Date: <%= order.delivery_date %></p>
    <% order.products.each do |product| %>
      <p><%= product.name %></p>
    <% end %>
    <a class="show-order" href="/admin/orders/<%= order.id %>">View order</a>
    <br>
  <% end %>
</section>
