<section class="admin-orders-show">
  <h1>View Order</h1>
  <h4 class="created-at">Created at: <%= @order.created_at%></h4>
  
  <section class="order-details">
    <h2>Order Details</h2>

    <p>Email: <%= @order.email %></p>

    <div class="shipping-information">
      <h4>Shipping Information</h4>
      <p>Name: <%= @order.shipping_name %></p>
      <p>Address: <%= @order.shipping_address %>, <%= @order.shipping_city %></p>
      <p>Postal Code: <%= @order.shipping_postal %></p>
    </div>

    <p>Notes: <%= @order.note %></p>

</section>

  <table class="products-table">
    <thead>
      <th>Name</th>
      <th>Quantity</th>
      <th>Price</th>
    </thead>

    <tbody>
      <% @order.order_products.each do |product| %>
        <tr>
          <td><%= product.name %></td>
          <td><%= product.quantity %></td>
          <td><%= humanized_money_with_symbol (product.price * product.quantity) %></td>
        </tr>
      <% end %>
        <tr>
          <td> Delivery Fee </td>
          <td> n/a </td>
          <td> <%= humanized_money_with_symbol @order.delivery_fee %> </td>
        </tr>
        <tr>
          <td> Environmental Fee </td>
          <td> n/a </td>
          <td> <%= humanized_money_with_symbol @order.environmental_fee %> </td>
        <tr>
        <tr><td></td><td></td><td></td></tr>
    </tbody>

    <tfoot>
      <tr>
        <td>Sub-Total</td>
        <td></td>
        <td><%= humanized_money_with_symbol @order.subtotal %></td>
      </tr>
      <tr>
        <td>Taxes</td>
        <td></td>
        <td><%= humanized_money_with_symbol @order.taxes %></td>
      </tr>
      <tr>
        <td>Total</td>
        <td></td>
        <td><%= humanized_money_with_symbol @order.total %></td>
      </tr>
    </tfoot>
  </table>

</section>
  <%= link_to 'Delete this order permanently', admin_order_path(@order), method: :delete, data: { confirm: "Are you sure?" } %>
