<section class="admin-orders-show">
  <h1>View Order</h1>
  <p class="created-at">Created at: <%= @order.created_at%></p>
  
  <div> <%= render @order.payment_partial_path, payment: @order.payment, order: @order %> </div>

  <h2>Order Content</h2>

  <% @order.products.each do |product| %>
    <article>
        <p><%= product.name %></p>
        <p><%= product.price %></p>
    </article>
<% end %>
<h3><%="Total: #{humanized_money_with_symbol @order.total}"%></h3>

<br>

<h2>Order Details</h2>

<p>Email: <%= @order.email %></p>

<div class="shipping-information">
  <h4>Shipping Information</h4>
  <p>Name: <%= @order.shipping_name %></p>
  <p>Address: <%= @order.shipping_address %>, <%= @order.shipping_city %>, <%= @order.shipping_province %>, <%= @order.shipping_country %></p>
  <p>Postal Code: <%= @order.shipping_postal %></p>
</div>

<div class="billing-information">
  <h4>Billing Information</h4>
  <p>Name: <%= @order.billing_name %></p>
  <p>Address: <%= @order.billing_address %>, <%= @order.billing_city %>, <%= @order.billing_province %>, <%= @order.billing_country %></p>
  <p>Postal Code: <%= @order.billing_postal %></p>
</div>

<p>Notes: <%= @order.note %></p>


</section>
