<section class="orders-new">
  <h1>Review your order</h1>

  <table class="products-table">
    <thead>
      <th>Name</th>
      <th>Quantity</th>
      <th>Price</th>
    </thead>

    <tbody>
      <% @cart.cart_products.each do |product| %>
        <tr>
          <td><%= product.name %></td>
          <td><%= product.quantity %></td>
          <td><%= humanized_money_with_symbol (product.price * product.quantity) %></td>
        </tr>
      <% end %>
        <tr>
          <td> Delivery Fee </td>
          <td></td>
          <td> <%= humanized_money_with_symbol @cart.user.delivery_fee %> </td>
        </tr>
        <tr>
          <td> Environmental Fee </td>
          <td></td>
          <td> <%= humanized_money_with_symbol @cart.environmental_fee %> </td>
        </tr>
        <tr><td></td><td></td><td></td></tr>
    </tbody>
    <tfoot>
      <tr>
        <td>Sub-Total</td>
        <td></td>
        <td><%= humanized_money_with_symbol @cart.subtotal %></td>
      </tr>
      <tr>
        <td>Taxes</td>
        <td></td>
        <td><%= humanized_money_with_symbol @cart.taxes %></td>
      </tr>
      <tr>
        <td>Total</td>
        <td></td>
        <td><%= humanized_money_with_symbol @cart.total %></td>
      </tr>
    </tfoot>
  </table>

  <%= render "form", order: @order %>

  

</section>
