<section class="admin-users-show">
  <a href="/admin/users/<%= @user.id %>/edit" class='primary-button'>Edit User</a>
  <table class="user-info">
    <thead>
      <th>Company Name</th>
      <th>Name</th>
      <th>Email</th>
      <th>Address</th>
      <th>City</th>
      <th>Province</th>
      <th>Postal</th>
    </thead>

    <tbody>
      <tr>
        <td><%= @user.company_name %></td>
        <td><%= @user.name %></td>
        <td><%= @user.email %></td>
        <td><%= @user.shipping_address %></td>
        <td><%= @user.shipping_city %></td>
        <td><%= @user.shipping_province %></td>
        <td><%= @user.shipping_postal %></td>
      </tr>
    </tbody>
  </table>
  
  <% @user.exemptions.each do |user_exemption| %>
    <h5><%= user_exemption.information %></h5>

  <% end %>

  </section>