<section class="admin-users-show">
  <a href="/admin/users/<%= @user.id %>/edit" class='primary-button'>Edit User</a>
  <table class="user-info">
    <thead>
      <th>Company Name</th>
      <th>Name</th>
      <th>Email</th>
      <th>Address</th>
      <th>City</th>
      <th>Province</th>
      <th>Postal</th>
    </thead>

    <tbody>
      <tr>
        <td><%= @user.company_name %></td>
        <td><%= @user.name %></td>
        <td><%= @user.email %></td>
        <td><%= @user.shipping_address %></td>
        <td><%= @user.shipping_city %></td>
        <td><%= @user.shipping_province %></td>
        <td><%= @user.shipping_postal %></td>
      </tr>
    </tbody>
  </table>
  <%= form_tag '/user_exemptions' do %>

    <div class="form-group">
      Delivery Fee: <%= text_field_tag :delivery_fee %>
    </div>

    <div class="form-group">
      Minimum Price of Order: <%= text_field_tag :order_minimum %>
    </div>

    <%= submit_tag 'Update.', class: 'btn btn-primary' %>
  <% end %> 

  </section>