<p>User: <%= @user.email %></p>

<%= form_tag '/user_exemptions' do %>

    <div class="form-group">
      Delivery Fee: <%= text_field_tag :delivery_fee %>
    </div>

    <div class="form-group">
      Minimum Price of Order: <%= text_field_tag :order_minimum %>
    </div>

    <%= submit_tag 'Update.', class: 'btn btn-primary' %>
  <% end %> 