<section class="admin-users-show">
  <a href="/admin/users/<%= @user.id %>/edit" class='primary-button'>Edit User</a>
  <table class="user-info">
    <thead>
      <th>Company Name</th>
      <th>Name</th>
      <th>Email</th>
    </thead>

    <tbody>
      <tr>
          <td><%= @user.company_name %></td>
          <td><%= @user.name %></td>
          <td><%= @user.email %></td>
      </tr>
    </tbody>
    <thead>
      <th>Address</th>
      <th>City</th>
      <th>Province</th>
      <th>Postal</th>
    </thead>
    <tbody>
      <tr>
        <td><%= @user.shipping_address %></td>
        <td><%= @user.shipping_city %></td>
        <td><%= @user.shipping_province %></td>
        <td><%= @user.shipping_postal %></td>
      </tr>
    </tbody>
  </table>
  
  <% @user.exemptions.each do |user_exemption| %>
    <div class="row">
      <h5><%= user_exemption.information %></h5>
      <a href="/admin/user_exemptions/<%= user_exemption.id%>/edit">Edit</a>
    </div>
  <% end %>
  <%= link_to "Create New Liquid Price For This User", new_admin_liquid_price_path(:userid => @user.id) %>
  <% @user.liquid_prices.each do |liquid_price| %>
    <div class="row">
      <h5><%= "#{liquid_price.container.name} of #{liquid_price.liquid.name}: #{humanized_money_with_symbol(liquid_price.price)}" %></h5>
      <a href="/admin/liquid_prices/<%= liquid_price.id%>/edit">Edit</a>
    </div>
  <% end %>

  </section>