<section class="product-index">
  <h1>Products</h1>

  <% @products.each do |product| %>
    <article>
      <header>
        <h1><%= product.name %></h1>
      </header>

      <p><%= humanized_money_with_symbol product.price %></p>

      <section class="product-links">
        <%= simple_form_for CartProduct.new, url: cart_product_path(product) do |f| %>
          <% product.available_containers.each do |container| %>
            <fieldset class=<%= container.name.underscore.downcase %>>
              <%= f.input :quantity %>
            </fieldset>
          <% end %>
          <%= f.submit 'Add to Cart', cart_product_path(product) %>
        <% end %>
      </section>
    </article>
  <% end %>
</section>
