<section class="product-index">
  <h1>Products</h1>
  <br>

  <section class="liquid-list">
    <% @liquids.each do |liquid| %>
      <article class="liquid">
        <h1><%= liquid.name %></h1>

        <section class="flavour-list">
          <% @flavours.each do |flavour| %>
            <% if liquid.flavours.include? flavour %>
              
              <article class="flavour">
                <div>
                  <h3><%= flavour.name %></h3>
                  <p class="description"><%= flavour.description %></p>
                </div>
                <section class="flavour-options">
                  <% flavour.products.each do |product| %>
                    <article id="product-<%= product.id %>" class="product container-<%= product.container.id %>">
                      <%= simple_form_for CartProduct.new, url: cart_product_path(product) do |f| %>
                        <p><strong><%= product.container.name %></strong></p>
                        <p><%= humanized_money_with_symbol product.price_for(current_user) %></p>
                        <%= f.input :quantity %>
                        <%= f.submit 'Add to Cart'%>
                      <% end %>
                    </article>
                  <% end%>
                </section>
              </article> 

            <% end %>
          <% end %>
        </section>

      </article>
    <% end %>
  </section>
</section>
